/* General */
* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #003997;
    border: 2px solid #002c74;
}

.btn-primary:hover {
    background-color: #002c74;
    border-color: #002c74;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
/* NAVBAR */

#navbar img {
    width: 125px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
    
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #002c74;
}

/* ICON */
.button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
}

.button-container ion-icon {
    font-size: 20px; 
    color: #003997 ;
    margin-right: 5px;
}

.button-container button {
    display: flex;
    align-items: center; 
    font-size: 15px;
    border: none;
    border-radius: 100px;
    background-color: #ffffff;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 10px 20px;
}

#page-profile,
#page-appointment,
#page-news  {
    transition: transform 0.3s ease-in-out; 
}

#page-profile:hover,
#page-appointment:hover,
#page-news:hover  {
    transform: scale(1.2);
}




/* MAPA */
.mapBox {
    width: 100%; 
    height: 500px; 
    margin: 0 auto; 
    position: relative;
    overflow: hidden; 
}
.mapBox iframe {
    width: 100%; 
    height: 100%; 
    border: 0; 
}



/* SEARCH CONTAINER */

#search-container {
    background-image: url("../img/IMG_sede\ original.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #003997;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* OCURRENCES LIST */

#ocurrences-container {
    padding: 50px;
}

#ocurrences-container h2 {
    margin-bottom: 10px;
}

#ocurrences-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ocurrences-container .card {
    flex: 1 1 24%;
    max-width: 18%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#ocurrences-container img {
    max-height: 250px;
    min-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-type {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .card-infos {
    font-size: 14px;
    color: #757575;

}

.card img {
    border-radius: 15px;
}

/* SABER MAIS */

.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%; /* Reduzindo a largura */
    max-height: 60%; /* Aumentando a altura */
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content.show {
    opacity: 1;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#modal-text {
    padding: 20px;
}

#modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#modal-description {
    font-size: 16px;
    color: #555;
}

/* OCURRENCE CREATE PAGE */

#ocurrence-create-container {
    padding: 30px;
}

#ocurrence-create-container label {
    font-weight: bold;
}

#ocurrence-create-container input,
#ocurrence-create-container select,
#ocurrence-create-container textarea {
    font-size: 12px;
}

/* OCURRENCE PAGE  */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
    min-width: 60%;
    max-width: 60%;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3, 
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}

#info-container ion-icon {
    font-size: 20px;
    color: #002c74;
    margin-right: 5px;
}

#info-container #ocurrence-submit {
    margin: 20px 0;
}
/* Carrosel de noticias */
.statement {
    font-size: 8px; 
    text-align: center;
    padding: 10px; 
    position: relative;
    width: 100%;
    font-weight: bold;
    color: #002c74; 
}


.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;   
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #002c74;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

/* Carrosel de Notícias e Comunicados Welcome */
.statement {
    font-size: 8px; 
    text-align: center;
    padding: 10px; 
    position: relative;
    width: 100%;
    font-weight: bold;
    color: #002c74; 
}


.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;   
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #002c74;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

/* Carrosel Welcome */
#carouselExampleIndicators1,
#carouselExampleIndicators2 {
    width: 100%; /* Use 100% da largura */
    max-width: 800px; /* Defina uma largura máxima */
    margin: 0 auto; /* Centralize horizontalmente usando margin */
}

.carousel-inner img {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 7%; /* Largura dos controles de navegação */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

.carousel-indicators {
    margin-bottom: 10px;
}

/* Carrosel Welcome */
#carouselExampleIndicators1,
#carouselExampleIndicators2 {
    width: 50%; 
    max-width: 700px; 
    margin: 0 auto; 
}

.carousel-control-prev,
.carousel-control-next {
    width: 7%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100px;
    height: 30px;
}

.carousel-indicators {
    margin-bottom: 10px;
}
.carousel-inner {
    width: 100%; 
}

.carousel-item {
    height: 400px; 
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* FOOTER */

footer{
    text-align: center;
    background-color: #003997;
    color: #fff;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}