/* General */
* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #003997;
    border: 2px solid #002c74;
}

.btn-primary:hover {
    background-color: #002c74;
    border-color: #002c74;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
/* NAVBAR */

#navbar img {
    width: 125px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #002c74
}

/* ICON */
.button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.button-container ion-icon {
    font-size: 20px; 
    color: #003997 ;
    margin-right: 5px;
}

.button-container button {
    display: flex;
    align-items: center; 
    font-size: 15px;
    border: none;
    border-radius: 100px;
    background-color: #ffffff;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
    transition: transform 0.2s;
    padding: 10px 20px;
}


#page-profile:hover,
#page-appointment:hover,
#page-news:hover  {
    transform: scale(1.2);
}

/* MAPA */
.mapBox {
    width: 100%; 
    height: 500px; 
    margin: 0 auto; 
    position: relative;
    overflow: hidden; 
}
.mapBox iframe {
    width: 100%; 
    height: 100%; 
    border: 0; 
}



/* SEARCH CONTAINER */

#search-container {
    background-image: url("../img/banner.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #003997;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* OCURRENCES LIST */

#ocurrences-container {
    padding: 50px;
}

#ocurrences-container h2 {
    margin-bottom: 10px;
}

#ocurrences-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ocurrences-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#ocurrences-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-type {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .card-infos {
    font-size: 14px;
    color: #757575;
}

.card img {
    border-radius: 15px;
}

/* OCURRENCE CREATE PAGE */

#ocurrence-create-container {
    padding: 30px;
}

#ocurrence-create-container label {
    font-weight: bold;
}

#ocurrence-create-container input,
#ocurrence-create-container select,
#ocurrence-create-container textarea {
    font-size: 12px;
}

/* OCURRENCE PAGE  */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3, 
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #002c74;
    margin-right: 5px;
}

#info-container #ocurrence-submit {
    margin: 20px 0;
}
/* Carrosel de noticias */
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;   
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #002c74;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #003997;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}


